.home{
    height: 700px;
    width: 100%;
    background-image: url("../../images/Bg.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-tag{
    width: 170px;
    margin-top: 30px;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
ul li{
    list-style: none;
    padding: 5px 50px;
    margin-left: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
ul li a{
    text-decoration: none;
    color: black;
    
}
ul li a h4{
    margin-top: 25px;
}

ul li a h4:hover{
    color: rgb(61, 110, 226);
}
/* media query for mobile device */
@media only screen and (max-width: 600px){
    .home{
        height: 1020px;
    }
    .image-tag{
        width: 100px;
        
    }
    .list{
        flex-direction: column;
        margin-top: 5px;
        
    }
     
    ul li{
        padding: 10px 10px;
        margin-left: 0;
        margin-right: 30px;
        background-color: rgb(255, 248, 248);
        border: 11px solid rgb(162, 210, 255);
        margin-top: 10px;
    }
}