.home{
    height: 620px;
    width: 100%;
    background-image: url("../../images/Bg.png");
    background-position:center;
    background-repeat: no-repeat;
    /* background-size: 1390px 640px; */
    background-size: cover;
}

.image-tag{
    width: 170px;
    margin-top: 30px;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
ul li{
    list-style: none;
    padding: 5px 50px;
    margin-left: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
ul li a{
    text-decoration: none;
    color: black;
    
}
ul li a h4{
    margin-top: 25px;
}

ul li a h4:hover{
    color: rgb(61, 110, 226);
}
