.home{
    height: 700px;
    width: 100%;
    background-image: url("../../images/Bg.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head-line{
    text-align: center;
    margin-top: 60px;
}
.head-line h2{
    font-weight: bolder;
    color: rgb(66, 94, 253);

}
.head-line p{
    color: rgb(103, 146, 246);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.ride{
    color: rgb(250, 57, 57);
}
.smile-face{
    /* color: white; */
    font-size: 25px;
    margin-left: 10px;
}
.image-tag{
    width: 170px;
    margin-top: 30px;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
ul li{
    list-style: none;
    padding: 5px 50px;
    margin-left: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.459);
}
ul li a{
    text-decoration: none;
    color: black;
    
}
ul li a h4{
    margin-top: 25px;
}

ul li a h4:hover{
    color: rgb(61, 110, 226);
}
/* media query for mobile device */
@media only screen and (max-width: 600px){
    .home{
        height: 1020px;
    }
    .image-tag{
        width: 100px;
        
    }
    .list{
        flex-direction: column;
        margin-top: 60px;
        
    }
     
    ul li{
        padding: 0;
        padding-bottom: 5px; 
        margin: 10px auto;
       
        background-color: rgba(78, 186, 212, 0.712);
        /* border: 11px solid rgb(162, 210, 255); */
        border-radius: 20px;
        width: 70%;
    }
    ul li a{
        color: rgb(20, 2, 2);
    }
}